
	<script src='/js/jquery-3.5.1.js'></script>
	<script src='/js/bundle.js'></script>
	
	<script src='/js/ajax.common.js'></script>
	<script src='/js/util.common.js'></script>
	<script src='/js/cmm/login.js'></script>
	<script src='/js/cmm/password.strength.js'></script>
	{{>layout/loading}}
</body>
</html>